*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#545454;
    font-family: sans-serif;
    display: flex; /*To put the game box at center of the page*/
    
    justify-content: center;
}
.container{
    margin: 50px;
    padding: 50px;
    background-color: #14BDAC;
    border-radius: 25px;
}
.title{
    text-align:center;
}
.title span{
    color:#F2EBD3;
}
.status-action{
    display: flex;
    margin-top: 25px;
    font-size: 17px;
    justify-content: space-around;
    /* height: 32px; */
}
.status{
    width: 83px;
}
.reset{
    cursor: pointer;
}
.reset:hover{
    color:#F2EBD3;
}
.game-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    background-color: #0DA192;
}
.game-cell{
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    background-color: #14BDAC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x,.o{
    cursor:default;
}
.x::after{
    content:'×';
    font-size: 7rem;
}
.o::after{
    content:'○';
    color: #F2EBD3;
    font-size: 8rem;
}
.status span{
    color: #F2EBD3;
}
.won, .won::after{
    color: red;
}

@media only screen  and (max-width:1024px){
    .game-grid{
        margin-top: 25px;
        grid-gap: 9px;
    }
    .game-cell{
        height: 6rem;
        width: 6rem;
    }
    .x::after{
        font-size: 6rem;
    }
    .x::after{
        font-size: 7rem;
    }
}
@media only screen  and (max-width:540px){
    .container{
        margin:25px;
        padding: 25px;
    }
    /* .game-grid{
        margin-top: 25px;
        grid-gap: 25px;
    } */
    .game-cell{
        height: 5rem;
        width: 5rem;
    }
    .x::after{
        font-size: 5rem;
    }
    .o::after{
        font-size: 6rem;
    }
}
@media only screen  and (max-width:330px){
    .container{
        margin:25px;
        padding: 15px;
    }
    .game-grid{
        /* margin-top: 25px; */
        grid-gap: 7px;
    }
    .game-cell{
        height: 4.5rem;
        width: 4.5rem;
    }
    .x::after{
        font-size: 4.5rem;
    }
    .o::after{
        font-size: 5.5rem;
    }
}